body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 10%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}

h1 {
  color: white;
  font-weight: normal;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  background-color: steelblue;
  margin: 0;
  padding: 20px 0;
}

#colorDisplay {
  font-size: 2em;
}

#message {
  display: inline-block;
  width: 20%;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}

.selected {
  background: steelblue;
  color: white;
}

button {
  border: none;
  color: steelblue;
  background: none;
  text-transform: uppercase;
  font-weight: 700;
  height: 100%;
  letter-spacing: 1px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover{
  background: steelblue;
  color: white;
}
